*{
    margin: 0px;
}


  
  body {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .column {
    float: left;
    padding: 10px;
  }
  
  .column.side {
    width: 20%;
    max-width: 250px;
  }
  
  .column.main {
    width: 70%;
  }

  #navbar {
    border-right: 2px solid rgb(77, 75, 75);
    height: 100vh;
  }
  
  #navbar header {
    font-size: 24px;
    padding: 8px 16px;
  }
  #navbar ul {
    list-style-type: none;
    padding-left: 0px;
  }
  #navbar li {
    border-top: 1px solid rgb(75, 73, 73);
  }
  
  #navbar img {
    width: 100%;
  }
  
  #navbar a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 16px 32px;
  }
  
  #main-doc {
    padding-left: 20px;
  }
  
  #main-doc header {
    font-size: 24px;
  }
  
  code {
    background-color: rgb(218, 214, 214);
    display: block;
    padding: 20px 100px;
    width: 250px;
    white-space: pre-wrap;
  }
  
  .main-div {
    width: 100%;
    background-color: rgb(187, 184, 184);
  }
  